<section id="playstation" class="facts">
  <div class="container">

    <div class="section-title">
      <h2>Play Station</h2>
    </div>

    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Jugos_Platstation/1.jpg" alt="">
            <a href="">Star Wars Jedi.. </a>
            <a href="">PlayStation</a>
            <a class="precio" href="">$1330.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Jugos_Platstation/2.jpg" alt="">
            <a href="">Dragon Ball... </a>
            <a href="">PlayStation</a>
            <a class="precio" href="">$1200.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Jugos_Platstation/3.jpg" alt="">
            <a href="">Star Wars: Squadrons </a>
            <a href="">PlayStation</a>
            <a class="precio" href="">$1700.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Jugos_Platstation/4.jpg" alt="">
            <a href="">Immortals Fenyx Rising </a>
            <a href="">PlayStation</a>
            <a class="precio" href="">$1400.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Jugos_Platstation/5.jpg" alt="">
            <a href="">Assassin's Creed: Valhalla </a>
            <a href="">PlayStation</a>
            <a class="precio" href="">$1330.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Jugos_Platstation/6.jpg" alt="">
            <a href="">Fortnite </a>
            <a href="">PlayStation</a>
            <a class="precio" href="">$1122.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>


  </div>
</section>