<section id="carrito" class="skills section-bg">
  <div class="container">
    <p>allgames works!</p>
    <p>Buscar por criterio: {{criterio}}</p>
  </div>

</section>

<div class="bodyTest">
  <div class="row">
    <div *ngFor="let producto of productoItems" class="col-md-6">
      <div class="w3-card-4 w3-margin" style="width:95%">
        <div class="w3-display-container w3-text-white">
          <img src="{{producto.imagen}}" alt="Lights" style="width:100%">
          <div class="w3-xlarge w3-display-bottomleft w3-padding">{{producto.titulo}}</div>
        </div>
        <div class="w3-row w3-black">
          <div class="w3-third w3-center">
            <h3>{{producto.descripcion}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
