<div class="section-title">
    <h2>VIDEOJUEGOS</h2>
</div>

<div class="row">


    <div class="boxproductos col-md-2" *ngFor="let producto of gamesList">
        <a [routerLink]="['/componentes/detalle', producto.id]">
            <img src="{{producto.imagen}}" alt=""></a>
        <a href="">{{producto.titulo}} </a>
        <a href="">{{producto.plataforma}}</a>
        <a class="precio" href="">${{producto.precioVenta}}</a>
        <div class="icn_comprar icn_acciones">
            <!-- <a (click)="addCar(card.id)" id="addcart" href=""><i  class='bx bx-cart'></i></a> -->
            <i (click)="addCar(producto.id)" class='bx bx-cart addcart'></i>
            <!-- <a (click)="addWhishList(card.id)" id="addWhish" href=""><i class='bx bx-heart'></i></a> -->
            <i (click)="addWhishList(producto.id)" class='bx bx-heart addwish'></i>
            <!-- <a (click)="addWhishList(card.id)" href=""><i class='bx bx-heart'></i></a> -->
        </div>
    </div>



</div>