<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <!-- <img src="assets/img/call.jpg" alt="" class="img-fluid rounded-circle"> -->
      <!-- <h1 class="text-light"><a href="index.html">Games MX</a></h1> -->
      <h1 class="text-light"><a href="index.html"><span class="icon-Contenedor-Logo"></span></a></h1>
      <!--<div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>-->
    </div>
    <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar por..." aria-label="Search"
        aria-describedby="basic-addon2" (keyup.enter)="onclick_search(searchCriterio.value)" #searchCriterio>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="onclick_search(searchCriterio.value)">
          <i class="bx bx-search-alt-2"></i>
        </button>
      </div>
    </div>
    <nav class="nav-menu">
      <!-- <a routerLink="customers">Customer</a> -->

      <!-- <strong><span style="color:red" *ngIf="isUserAuthenticated()">Logeado</span></strong> -->
      <ul>
        <!-- <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li> -->
        <!-- <div *ngIf="isUserAuthenticated()"> -->
        <li *ngFor="let menuItem of menuItems">
          <a [routerLink]="menuItem.route" routerLinkActive="active"><i
              class="{{menuItem.icon}}"></i><span>{{menuItem.title}}</span></a>
        </li>
        <!-- </div> -->
        <!-- <li *ngIf="isUserAuthenticated()"><a href="#perfil"><i class="bx bx-book-content"></i>Mi Perfil</a></li> -->
                <br>
        <!--         <button class="btn btn-primary w3-red" type="submit" value="Submit" *ngIf="isUserAuthenticated()"
                    style="width: 85">
                    <li class="logout" (click)="logOut()">Logout</li>
                  </button> -->
          <div *ngIf="isUserAuthenticated()">
            <button type="button" style="width: 85%;" class="btn btn btn-primary w3-red" (click)="logOut()">Logout</button>
          </div>
                <li><button type="button" class="btn btn-primary w3-red" (click)="open(mymodal)" style="width: 85%;"
                        *ngIf="!isUserAuthenticated()"><span>Iniciar Sesión</span></button></li><br>
                <li><button type="button" class="btn btn-primary w3-green" (click)="open(mymodal)" style="width: 85%;"
                        *ngIf="!isUserAuthenticated()"><span>Registrarse</span></button>
                  </li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header>

<ng-template #mymodal>
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#login">Iniciar Sesión</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#register">Registrarse</a></li>
    </ul>

    <div class="tab-content">
      <div id="login" class="tab-pane active">
        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" id="email" name="email" ngModel class="form-control" placeholder="email" required
              autofocus>
            <small id="emailHelp" class="form-text text-muted">We'll never share your information with
              anyone
              else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" id="Contrasenia" name="Contrasenia" ngModel class="form-control"
              placeholder="contraseña" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary w3-green btn">Iniciar
            Sesión</button>
        </form><br>
        <!-- <a class="link forget-password">Olvidaste la contraseña?</a> -->
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button> -->
      </div>

      <!-- SECCION REGISTRO -->

      <div id="register" class="tab-pane fade">
        <form class="form-signin" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="form-group">
            <label for="emailRegister">Email</label>
            <input type="email" class="form-control" name="emailRegister" id="emailRegister" ngModel
              aria-describedby="userHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre Completo</label>
            <input type="text" class="form-control" name="nombreRegister" id="nombreRegister" ngModel
              aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" id="Contrasenia" name="contraseniaRegister" ngModel class="form-control"
              placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-primary w3-green btn">Registrarse</button>
        </form>
      </div>
    </div>
  </div>
</ng-template>
