<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Clientes</h2>
      <ol>
        <!-- <li><a href="index.html">Home</a></li> -->
        <li>Clientes</li>
        <li>Detalle</li>
      </ol>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->

<section class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Detalle Cliente</h2>
      <p></p>
    </div>
    <!-- {{item | json}} -->
    <div class="row">
      <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
        <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form"> -->
        <div class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Nombre completo</label>
              <input disabled value="{{item.nombreCompleto}}" type="text" name="name" class="form-control" id="name"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off" />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Email</label>
              <input disabled value="{{item.email}}" type="text" name="name" class="form-control" id="name"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off" />
              <div class="validate"></div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <!-- {{codigoItems | json}} -->
    <div class="section-title">
      <h2>Compras Cliente</h2>
      <p></p>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Pedido</th>
              <th scope="col">Titulo</th>
              <th scope="col">Plataforma</th>
              <th scope="col">Total</th>
              <th scope="col">Edicion</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of codigoItems">
              <th scope="row">{{item.idPedido}}</th>
              <td>{{item.titulo}}</td>
              <td><i class="icon-Contenedor-{{item.plataforma}}" title="{{item.plataforma}}"></i></td>
              <td>{{item.precioVenta | currency}}</td>
              <td>{{item.edicion}}</td>
              <td>{{item.codigo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

<!-- ======= About Section ======= -->
<section id="" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Lista Deseos</h2>
      <p></p>
    </div>
    <!-- {{wishListItems | json}} -->
    <div class="row">
      <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Titulo</th>
              <th scope="col">Plataforma</th>
              <th scope="col">Genero</th>
              <th scope="col">Precio</th>
              <th scope="col">Fecha de lanzamiento</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of wishListItems">
              <th scope="row">{{item.id}}</th>
              <td>{{item.titulo}}</td>
              <td><i class="icon-Contenedor-{{item.plataforma}}" title="{{item.plataforma}}"></i></td>
              <td>{{item.genero}}</td>
              <td>{{item.precioVenta | currency}}</td>
              <td>{{item.fechaLanzamiento}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
