<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2></h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Ventas</li>
        <li>Lista</li>
      </ol>
    </div>

  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="">
  <div class="container">

    <div class="section-title">
      <h2>Ventas Lista</h2>
      <p></p>
    </div>
    <!-- {{ventasItems | json}} -->
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
        <!-- <div class="text-right">
            <a class="btn btn-md btn-info" [routerLink]="['/codigos/nuevo']" fragmente="tuId">Nuevo</a>
          </div> -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Num orden</th>
              <th scope="col">Cliente</th>
              <th scope="col">Total</th>
              <th scope="col">Forma Pago</th>
              <th scope="col">Fecha de pedido</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ventasItems">
              <th scope="row">{{item.id}}</th>
              <td>{{item.cliente}}</td>
              <td>{{item.total}}</td>
              <td>{{item.formPago}}</td>
              <td>{{item.fechaPedido | date:'yyyy/MM/dd'}}</td>
              <td>
                <a [routerLink]="['/ventas/detalle', item.id]" class="btn btn-primary">Ver Detalle</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <div class="text-left"><button class="btn btn-md btn-info" type="button">Regresar Lista</button></div> -->
      </div>
    </div>
  </div>
</section><!-- End About Section -->
