<section id="xbox" class="xbox">
    <div class="col" id="xbox">
        <div class="section-title xboxcolor">
            <h2>XBOX <i class="icon-Contenedor-Xbox" title="Xbox"></i></h2>
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let producto of gamesList">
                <div class="boxproductos" *ngIf="producto.plataforma ==  'Xbox'">
                    <img src="{{producto.imagen}}" alt="">
                    <a href="">{{producto.titulo}} </a>
                    <a href="">{{producto.plataforma}}</a>
                    <a class="precio" href="">${{producto.precioVenta}}</a>
                    <div class="icn_comprar">
                        <a id="addcart" href=""><i class='bx bx-cart'></i></a>
                        <a id="addwish" href=""><i class='bx bx-heart'></i></a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</section>