<section id="xbox" class="xbox">
    <div class="col" id="xbox">
        <div class="section-title xboxcolor">
            <h2>XBOX <i class="icon-Contenedor-Xbox" title="Xbox"></i></h2>
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let producto of gamesList;">
                <a [routerLink]="['/componentes/detalle', producto.id]">
                    <div class="boxproductos" *ngIf="producto.plataforma ==  'Xbox'">

                        <div>
                            <img src="{{producto.imagen}}" alt="">
                            <a>{{producto.titulo}} </a>
                            <a>{{producto.plataforma}}</a>
                            <a class="precio" href="">${{producto.precioVenta}}</a>
                        </div>


                    </div>
                </a>
                <div class="icn_comprar icn_acciones">
                    <!-- <a (click)="addCar(card.id)" id="addcart" href=""><i  class='bx bx-cart'></i></a> -->
                    <i (click)="addCar(producto.id)" class='bx bx-cart addcart'></i>
                    <!-- <a (click)="addWhishList(card.id)" id="addWhish" href=""><i class='bx bx-heart'></i></a> -->
                    <i (click)="addWhishList(producto.id)" class='bx bx-heart addwish'></i>
                    <!-- <a (click)="addWhishList(card.id)" href=""><i class='bx bx-heart'></i></a> -->
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</section>