<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input name="first" ngModel required #first="ngModel">
  <input name="last" ngModel>
  <button>Submit</button>
</form>

<p>First name value: {{ first.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p> -->


<form class="form-sigin" #f="ngForm" (ngSubmit)="login(f)" novalidate>
  <div class="container-fluid">
    <h2 class="form-signin-heading">Login</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
    <br/>
    <label for="username" class="sr-only">Username</label>
    <input id="username" name="nick" ngModel class="form-control" placeholder="User Name" required autofocus>
    <br/>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</form>
