<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Productos</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Productos</li>
        <li>Lista</li>
      </ol>
    </div>

  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>Lista de productos</h2>
      <p></p>
    </div>
    <!-- {{productoItems | json}} -->
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-md btn-info float-right" [routerLink]="['/productos/nuevo']" fragmente="tuId">Nuevo</a>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">



        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Título</th>
              <th scope="col">Plataforma</th>
              <th scope="col">Género</th>
              <!-- <th scope="col">Estatus</th> -->
              <th scope="col">Fecha Lanzamiento</th>
              <th scope="col">Fecha creación</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productoItems">
              <th scope="row">{{item.id}}</th>
              <td>{{item.titulo}}</td>
              <td><i class="icon-Contenedor-{{item.plataforma}}" title="{{item.plataforma}}"></i></td>
              <td>{{item.genero}}</td>
              <td>{{item.fechaLanzamiento | date:'yyyy/MM/dd'}}</td>
              <td>{{item.fechaCreacion | date:'yyyy/MM/dd HH:mm:ss'}}</td>
              <td>
                <!-- <a href="#" class="btn btn-sm btn-primary">Ver Detalle</a> -->
                <a [routerLink]="['/productos/detalle', item.id]" class="btn btn-primary">Ver Detalle</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section><!-- End About Section -->
