<section id="xbox" class="about">
  <div class="container">
    <div class="section-title">
      <h2>XBox</h2>
    </div>

    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_Xbox/4e40b66deeb6cdc043ca63eed8d7f616large.png"
              alt="">
            <a href="">Fortnite </a>
            <a href="">xbox</a>
            <a class="precio" href="">$1122.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_Xbox/9eff708c440dfcacc9118ff2c405c083large.png"
              alt="">
            <a href="">Watch Dogs: Legion </a>
            <a href="">XBOX</a>
            <a class="precio" href="">$1236.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_Xbox/54b4e8dad33c2428339c7bd3c8978103large.png"
              alt="">
            <a href="">FIFA 21 </a>
            <a href="">XBOX</a>
            <a class="precio" href="">$1300.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_Xbox/a1c1b5c7889956fdf2396f9b096e9f83large.png"
              alt="">
            <a href="">Call of Duty: Black ...</a>
            <a href="">XBOX</a>
            <a class="precio" href="">$1400.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_Xbox/b53c71076e89b8217f796bd052876a82large.png"
              alt="">
            <a href="">Gears Tactics </a>
            <a href="">XBOX</a>
            <a class="precio" href="">$1000.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <a routerLink="/componentes/detalle"><img
                src="../../assets/img/Imagenes_Videojuegos/Juegos_Xbox/d3ba29cd0b20d9ddcbdf702b1be5f9d5large.png"
                alt=""></a>
            <a href="">Assassin's Creed: Valhalla </a>
            <a href="">XBOX</a>
            <a class="precio" href="">$1330.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>
    </div>

  </div>
</section>