<section id="pc" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>PC</h2>
    </div>

    <div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_PC/3d13e2014457b0ed87eb866ff50cf703large.jpg" alt="">
            <a href="">borderlands 3 </a>
            <a href="">PC</a>
            <a class="precio" href="">$980</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_PC/1627bb384250c13a738450cd442d28d4large.jpg" alt="">
            <a href="">The Outer Worlds </a>
            <a href="">PC</a>
            <a class="precio" href="">$990.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_PC/bfc5de7647cc38c387ede4961c8d36c6large.jpg" alt="">
            <a href="">Train Station Renovation </a>
            <a href="">PC</a>
            <a class="precio" href="">$800.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_PC/cc35c1a7cf827f04f15aa95efdf36706large.jpg" alt="">
            <a href="">DIRT 5 </a>
            <a href="">PC</a>
            <a class="precio" href="">$980.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_PC/db7088eae586691cd8dbfb785ebe15d3large.jpg" alt="">
            <a href="">Stellaris </a>
            <a href="">PC</a>
            <a class="precio" href="">$1000.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="boxproductos">
            <img src="../../assets/img/Imagenes_Videojuegos/Juegos_PC/e030c8b42334903fd8a5a1fbf9f56738large.jpg" alt="">
            <a href="">Chicken Police ...</a>
            <a href="">PC</a>
            <a class="precio" href="">$1200.00</a>
            <div class="icn_comprar">
              <a id="addcart" href=""><i class='bx bx-cart'></i></a>
              <a id="addwish" href=""><i class='bx bx-heart'></i></a>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>

  </div>
</section>