 <!-- ======= Breadcrumbs ======= -->
 <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Productos</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Productos</li>
          <li>Detalle</li>
        </ol>
      </div>

    </div>
  </section>
  <!-- End Breadcrumbs -->

   <!-- ======= About Section ======= -->
<section id="contact" class="contact">
    <div class="container">      

      <div class="section-title">
        <h2>Detalle Producto</h2>
        <!-- <p></p> -->
      </div>

      <div class="row">
        <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Titulo</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off" value="CyberPunk 2077" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Plataforma</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Xbox Series X|S</option>                   
                  </select>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Genero</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Mundo Abierto|Accion</option>                   
                    </select>
                    <div class="validate"></div>
                  </div>
                <div class="form-group col-md-6">
                  <label for="name">Clasificación</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>+18</option>                   
                  </select>
                  <div class="validate"></div>
                </div>                
              </div>
              <div class="row">
                <div class="form-group col-md-2">
                    <label for="name">Fecha Lanzamiento</label>
                    <input value="2020-12-10" type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off" placeholder="2020-12-01" />
                    <div class="validate"></div>
                </div>
                <div class="col-md-4"></div>
                <div class="form-group col-md-6">
                    <label for="name">Estatus</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Activo</option>                   
                    </select>
                    <div class="validate"></div>
                  </div>           
            
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlFile1">Imagen </label><br>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    <div class="validate"></div>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="name">Fecha Creación</label>
                    <input disabled value="2020-01-01" type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" autocomplete="off" placeholder="2020-12-01" />
                    <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Descripción</label>
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" autocomplete="off">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum sem in faucibus hendrerit. Aenean sit amet blandit mi, vitae commodo dui. Nulla placerat quam vel sem auctor vestibulum. Pellentesque rutrum orci in ex scelerisque dignissim. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Guardar</button></div>
            </form>
          </div>
      </div>    

    </div>
  </section><!-- End About Section -->

  
