<section id="pc" class="pc">
    <div class="col" id="pc">
        <div class="section-title">
            <h2>PC <i class="icon-Contenedor-PC" title="Xbox"></i></h2>
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let productoS of gamesList">
                <div class="boxproductos" *ngIf="productoS.plataforma ==  'PC'">
                    <img src="{{productoS.imagen}}" alt="">
                    <a href="">{{productoS.titulo}} </a>
                    <a href="">{{productoS.plataforma}}</a>
                    <a class="precio" href="">${{productoS.precioVenta}}</a>
                    <div class="icn_comprar">
                        <a id="addcart" href=""><i class='bx bx-cart'></i></a>
                        <a id="addwish" href=""><i class='bx bx-heart'></i></a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>

    </div>
</section>